<%= form_for(@student_group) do |f| %>
  <% if @student_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_group.errors.count, t('error')) %> <%= t('views.students_group.cant_save_student_group') %>:</h2>

      <ul>
      <% @student_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.students_group.name')%><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('views.students_group.year') %><br>
    <%= f.number_field :year %>
  </div>
  <div class="actions">
    <%= f.submit t('views.students_group.submit_student_group')%>
  </div>
<% end %>
