<h3>Список студентов</h3>

<table class="table">
  <thead>
    <tr>
      <th>Группа</th>    
      <th>Имя</th>
      <th>Фамилия</th>
      <th>№</th>
      <th>Email</th>
      <th>Число задач</th>
      <th>Решено верно</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <% u = student.get_user %>
        <td><%= ((student.student_group)?(student.student_group.name):'') %></td>
        <td><%= student.name %></td>
        <td><%= student.lname %></td>
        <td align="right"><%= student.serial %>
        <% if u %>
          <br/>
          <%= u.get_teams.join('<br/>').html_safe %>
        <% end %>        
        </td>
        <td><%= student.email %></td>
        <% if u %>
          <td><%= link_to u.ws_jobs.size.to_s, ws_jobs_url(:user_id => u.id)  %></td>
          <td><%= u.get_sloved %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        <td><%= link_to 'Показать', student %></td>
        <td><%= link_to 'Редактировать', edit_student_path(student) %></td>
        <td><%= link_to 'Удалить', student, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
    <% @users_empty.each do |u| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td align="right"><%= u.get_teams.join('<br/>').html_safe %></td>
        <td><%= u.email %></td>
        <td><%= link_to u.ws_jobs.size.to_s, ws_jobs_url(:user_id => u.id)  %></td>
        <td><%= u.get_sloved %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый студент', new_student_path %>


<%= form_tag({controller: "students", action: "import"}, method: "post") do %>
  <div class="field">
    <%= label_tag :input, "Импортируемый список студентов" %><br/>
    <%= text_area_tag(:input, "", size: "80x3") %>
  </div>
  <div class="actions">
    <%= submit_tag "Импортировать" %>
  </div>
<% end %>

