<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('views.students.name')%>:</strong>
  <%= @student.name %>
</p>

<p>
  <strong><%=t('views.students.mname')%>:</strong>
  <%= @student.mname %>
</p>

<p>
  <strong><%=t('views.students.surname')%>:</strong>
  <%= @student.lname %>
</p>

<p>
  <strong><%=t('views.students.serial')%>:</strong>
  <%= @student.serial %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to t('edit'), edit_student_path(@student) %> |
<%= link_to t('back'), students_path %>
