<%= form_for(@ws_model_run) do |f| %>
  <% if @ws_model_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ws_model_run.errors.count, "error") %>Не возможно сохранение данного прогона модели:</h2>

      <ul>
      <% @ws_model_run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Название" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ws_model_id, "Модель" %><br>
    <%= f.collection_select(:ws_model_id, WsModel.all, :id, :name, include_blank: 'выберите модель...') %>
  </div>
  <div class="field">
    <%= f.label :ws_model_status_id, "Статус прогона" %><br>
    <%= f.collection_select(:ws_model_status_id, WsModelStatus.all, :id, :name) %>
  </div>
  <% if @ws_model_run.ws_model %>
  <table class="table">
    <thead>
      <tr>
        <th>Параметр</th>
        <th>Значение до прогона</th>
      </tr>
    </thead>
    <tbody>
      <% @ws_model_run.ws_model.ws_param_models.each do |pm| %>
        <% if pm.ws_param %>
        <tr>
          <td><%= pm.ws_param.name %></td>
          <% pv = @ws_model_run.ws_param_values.find_by_ws_param_id(pm.ws_param.id) %>
          <% pv = @ws_model_run.ws_param_values.new(ws_param_id: pm.ws_param.id) unless pv %>          
          <%= f.fields_for :ws_param_values, pv do |pm_fields| %>
            <td><%= pm_fields.text_area :old_value, autocomplete: "off", cols: 50, rows: 3 %>
                <%= pm_fields.hidden_field :ws_param_id  %>
            </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>  
  </table>
  <% end %>
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
