<%= form_for(@ws_model_run) do |f| %>
  <% if @ws_model_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ws_model_run.errors.count, "error") %>Не возможно сохранение данного прогона модели:</h2>

      <ul>
      <% @ws_model_run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Название" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ws_model_id, "Модель" %><br>
    <%= f.collection_select(:ws_model_id, WsModel.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :ws_model_status_id, "Статус прогона" %><br>
    <%= f.collection_select(:ws_model_status_id, WsModelStatus.all, :id, :name) %>
  </div>
  <h4>Параметры</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Параметр</th>
        <th>Значение до прогона</th>
        <th>Значение после прогона</th>
      </tr>
    </thead>
    <tbody>
      <% @ws_model_run.ws_model.ws_param_models.each do |pm| %>
        <tr>
          <td><%= pm.try(:ws_param).try(:name) %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>  
  </table>
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
