<h1>Список прогонов моделей</h1>

<table class="table">
  <thead>
    <tr>
      <th>Дата/Время обновления</th>
      <th>Название</th>
      <th>Модель</th>
      <th>Статус</th>
      <th>Трассировочная печать</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_model_runs.order(updated_at: :desc).each do |ws_model_run| %>
      <tr>
        <td><%= ws_model_run.updated_at %></td>
        <td><%= ws_model_run.name %></td>
        <td><%= ws_model_run.ws_model.name %></td>
        <td><%= ws_model_run.ws_model_status.name %></td>
        <td><%= long_string(ws_model_run.trace) %></td>
        <td><%= link_to ws_model_run, class: "btn btn-default", title: "Показать" do %>
              <i class="glyphicon glyphicon-zoom-in"></i>
            <% end %>
        </td>
        <td><%= link_to edit_ws_model_run_path(ws_model_run), class: "btn btn-default", title: "Редактировать" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
        </td>
        <td><%= link_to ws_model_run , class: "btn btn-default", method: :delete, title: "Удалить", data: { confirm: 'Вы уверены?' } do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новый прогон модели', new_ws_model_run_path %>
