<p>
  <strong>
  <%= @ws_model_run.goal_ws_param_value.ws_model_run.name %>
  </strong>
</p>
<p class="text-center"><%=t('views.ws_model_runs.result_of_ranking')%></p>
<table class="table">
  <thead>
    <tr>
      <th>№</th>
      <th><%=t('views.ws_model_runs.name')%></th>
      <th><%=t('views.ws_model_runs.descr')%></th>
      <th><%=t('views.ws_model_runs.rank')%></th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% old_r = 0.0 %>
    <% @rank.each do |r| %>
      <tr>
          <% if old_r != r[0] or i == 0 %>
            <% i += 1 %>
            <% old_r = r[0] %>
          <% end %>
          <td><%= i %></td>
          <td><%= link_to r[1].name, r[1] %></td>
          <td><%= r[1].descr %></td>
          <td><%= r[0] %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('back'), @ws_model_run %>
