<p>
  <strong>Название:</strong>
  <%= @ws_model_run.name %>
</p>

<p>
  <strong>Модель:</strong>
  <%= @ws_model_run.ws_model.name %>
</p>

<p>
  <strong>Статус прогона:</strong>
  <%= @ws_model_run.ws_model_status.name %>
</p>

<p>
  <strong>Описание:</strong>
  <pre><%= @ws_model_run.descr %></pre>
</p>

<p>
  <strong>Трассировочная печать:</strong>
  <pre><%= @ws_model_run.trace %></pre>
</p>

<strong>Значения параметров</strong>
<table class="table">
  <thead>
    <tr>
      <th>Параметр</th>
      <th>Значение до прогона</th>
      <th>Значение после прогона</th>
    </tr>
  </thead>
  <tbody>
    <% @ws_model_run.ws_param_values.each do |pv|%>
      <tr>
          <td><%= link_to pv.ws_param.name, pv %></td>
          <td><%= long_string(pv.old_value) %></td>
          <td><%= long_string(pv.new_value) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <strong>Множество для записи результатов прогонов:</strong>
  <%= @ws_model_run.ws_set_model_run.try{ |s| link_to(s.name, s) } %>
</p>
<p>
  <strong>Модель для записи результатов прогонов:</strong>
  <%= @ws_model_run.target_ws_model.try{ |s| link_to(s.name, s) } %>
</p>
<p>
  <strong>Целевой параметр прогона:</strong>
  <%= @ws_model_run.goal_ws_param_value.try{ |s| link_to(s.full_name,s)} %>
</p>
<%= link_to 'Редактировать', edit_ws_model_run_path(@ws_model_run) %> |
<%= link_to 'Назад', ws_model_runs_path %>
