<p>
  <strong>Название:</strong>
  <%= @ws_model_run.name %>
</p>

<p>
  <strong>Модель:</strong>
  <%= @ws_model_run.ws_model.name %>
</p>

<p>
  <strong>Статус прогона:</strong>
  <%= @ws_model_run.ws_model_status.name %>
</p>

<p>
  <strong>Трассировочная печать:</strong>
  <pre><%= @ws_model_run.trace %></pre>
</p>

<strong>Значения параметров</strong>
<table class="table">
  <thead>
    <tr>
      <th>Параметр</th>
      <th>Значение до прогона</th>
      <th>Значение после прогона</th>
    </tr>
  </thead>
  <tbody>
    <% @ws_model_run.ws_param_values.each do |pv|%>
      <tr>
          <td><%= pv.ws_param.name %></td>
          <td><%= pv.old_value.try{|d| d[0..255]} %></td>
          <td><%= pv.new_value.try{|d| d[0..255]} %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Редактировать', edit_ws_model_run_path(@ws_model_run) %> |
<%= link_to 'Назад', ws_model_runs_path %>
