<%= form_for(@ws_job) do |f| %>
  <% if @ws_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ws_job.errors.count, "error") %> Не возможно сохранение данной задачи:</h2>

      <ul>
      <% @ws_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ws_method_id, "Метод" %><br/>
    <%= f.collection_select(:ws_method_id, WsMethod.ask_working, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :input, "Входные данные" %><br/>
    <%= f.text_area :input, autocomplete: "off", cols: 100, rows: 30 %>
  </div>
  <div id='editor_holder'></div>
  <% if @json_edit %>
  <script>
    var editor = new JSONEditor(document.getElementById('editor_holder'), <%=@json_edit.html_safe %> )
  </script>
  <% end %>
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
