<script>
function updateExample(){
  if ($("#ws_job_input").val().trim()!="" &&
      !confirm('Очисть поле "Входные данные" и заполнить его примером?')) {
    return;
  };
  $.ajax({
    url: "/ws_methods/" + $("#ws_job_ws_method_id")[0].value + ".json",
    success: function(result){   
      $("#ws_job_input").val(result.test_input);
    }
  });

};
function getDescr(){
  $.ajax({
    url: "/ws_methods/" + $("#ws_job_ws_method_id")[0].value + ".json",
    success: function(result){   
      $("#method_descr").html(result.descr);
    }
  });
};
</script>
<% if @json_edit %>
  <div id='editor_holder'/>
<% end %>
<%= form_for @ws_job, html: {:class => 'form-horizontal'}  do |f| %>
  <% if @ws_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ws_job.errors.count, "error") %> Не возможно сохранение данной задачи:</h2>

      <ul>
      <% @ws_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ws_method_id, "Метод", class: "col-sm-1 control-label required" %>
    <div class="col-sm-2">
      <%= f.collection_select(:ws_method_id, WsMethod.ask_working, :id, :name,
                                {}, :class => 'form-control', onChange: "getDescr();") %>
    </div>
    <div class="col-sm-6">
      <div id="method_descr"><%= (@ws_job.ws_method.nil?)?(WsMethod.ask_working.first.descr):(@ws_job.ws_method.descr)%></div>
    </div>
    <div class="col-sm-3">
        <%= link_to "Пример входных данных",  '#',
              onclick: "updateExample();",
              class: 'btn btn-default' %>
    </div>
  </div>
  <div class="form-group">
  <% if @json_edit.nil? %>
      <%= f.label :input, "Входные данные", class: "col-sm-1 control-label required"  %><br/>
      <div class="col-sm-11">
        <%= f.text_area :input, autocomplete: "off", rows: 20,
                        :class => 'form-control', :required => 'required' %>
      
      </div>
  <% end %>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <%= f.submit "Сохранить", :class => "btn btn-default" %>
    </div>
  </div>
  <% if @json_edit %>

        <%= f.text_area :input, autocomplete: "off", cols: 100, rows: 2,
                        :class => 'form-control', style: "display:none" %>
    <script>
      function toggle(el, el2) {
        el.style.display = (el.style.display == 'none') ? '' : 'none';
        if (el2.firstChild.data == 'Скрыть JSON')
          el2.firstChild.data = 'Показать JSON'
        else
          el2.firstChild.data = 'Скрыть JSON';
      };
      
      // Set the default CSS theme and icon library globally
      JSONEditor.defaults.theme = 'bootstrap3';
      JSONEditor.defaults.iconlib = 'bootstrap3';

      var editor = new JSONEditor(document.getElementById('editor_holder'), <%=@json_edit.html_safe %> );
      // Hook up the submit button
      document.getElementsByName('commit')[0].addEventListener('click',function() {
        // Get the value from the editor
        var v = JSON.parse(document.getElementById('ws_job_input').value);
        v.startval = editor.getValue();
        document.getElementById('ws_job_input').value = JSON.stringify(v,null,2);
      });
    </script>
  <% end %>
<% end %>
<% if @json_edit %>
  <button type="button" class="btn btn-default" onclick="toggle(document.getElementById('ws_job_input'), this);">Показать JSON</button>
<% end %>
