<h3><%=t('views.ws_jobs.list_of_ws_jobs')%></h3>

<table class="table">
  <col width="90">
  <thead>
    <tr>
      <th><%=t('views.ws_jobs.date_time')%></th><th><%=t('views.ws_jobs.method')%></th><th><%=t('views.ws_jobs.input_data')%></th><th><%=t('views.ws_jobs.error_code')%></th>
      <th><%=t('views.ws_jobs.attachment')%></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_jobs.each do |ws_job| %>
      <tr>
        <td><small><%= l ws_job.updated_at %></small></td>
        <td><%= ws_job.ws_method.name %></td>
        <td><%= (ws_job.input ? ((ws_job.input[0..150] + (ws_job.input.size > 150 ? " ..." : ""))):"") %></td>
        <td><%= ws_job.error_code %>/<%= ws_job.for_check %>/<%= ws_job.do_check %></td>
        <td>
          <% if ws_job.filename %>
          <%= link_to ws_job.filename, show_content_ws_job_path(ws_job) %>
          <% end %>
        </td>
        <% if ws_job.do_check==0 or current_user.admin? %>
          <td><%= link_to  edit_ws_job_path(ws_job), class: "btn btn-default", title: t('edit') do %>
                <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
          </td>
          <td><%= link_to ws_job, class: "btn btn-default", method: :delete, title: t('delete'), data: { confirm: t('are_you_sure') } do %>
                <i class="glyphicon glyphicon-trash"></i>
              <% end %>
          </td>
        <% else %>
          <td></td><td></td>
        <% end %>
          <td>
            <% unless ws_job.output.nil? %>
              <%= link_to ws_job, class: "btn btn-default", title: t('show') do %>
                <i class="glyphicon glyphicon-zoom-in"></i>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to file_form_ws_job_path(ws_job), class: "btn btn-default", title: t('views.ws_jobs.attachment') do %>
              <i class="glyphicon glyphicon-paperclip"></i>
            <% end %>
          </td>
          
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.ws_jobs.size < current_user.numjobs or current_user.admin? %>
  <%= link_to t('views.ws_jobs.new_ws_job'), new_ws_job_path %>
<% end %>
