<h3>Список задач</h3>

<table class="table">
  <col width="90">
  <thead>
    <tr>
      <th>Дата/Время</th><th>Метод</th><th>Входные данные</th><th>Код ошибки</th><th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_jobs.each do |ws_job| %>
      <tr>
        <td><small><%= l ws_job.updated_at %></small></td>
        <td><%= ws_job.ws_method.name %></td>
        <td><%= (ws_job.input ? ((ws_job.input[0..150] + (ws_job.input.size > 150 ? " ..." : ""))):"") %></td>
        <td><%= ws_job.error_code %>/<%= ws_job.for_check %>/<%= ws_job.do_check %></td>
        <% if ws_job.do_check==0 or current_user.admin? %>
          <td><%= link_to  edit_ws_job_path(ws_job), class: "btn btn-default", title: "Редактировать" do %>
                <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
          </td>
          <td><%= link_to ws_job, class: "btn btn-default", method: :delete, title: "Удалить", data: { confirm: 'Вы уверены?' } do %>
                <i class="glyphicon glyphicon-trash"></i>
              <% end %>
          </td>
        <% else %>
          <td></td><td></td>
        <% end %>
          <td>
            <% unless ws_job.output.nil? %>
              <%= link_to ws_job, class: "btn btn-default", title: "Посмотреть результат" do %>
                <i class="glyphicon glyphicon-zoom-in"></i>
              <% end %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.ws_jobs.size < current_user.numjobs or current_user.admin? %>
  <%= link_to 'Новая задача', new_ws_job_path %>
<% end %>
