<h1>Список задач</h1>

<table border="1">
  <thead>
    <tr>
      <th>Метод</th><th>Входные данные</th><th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_jobs.each do |ws_job| %>
      <tr>
        <td><%= ws_job.ws_method.name %></td>
        <td><%= ws_job.input %></td>
        <% if ws_job.output.nil? %>
          <td><%= link_to 'Редактировать', edit_ws_job_path(ws_job) %></td>
          <td><%= link_to 'Удалить', ws_job, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        <% else %>
          <td colspan="2"><%= link_to 'Показать результат', ws_job %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая задача', new_ws_job_path %>
