<style type="text/css" media="print">
.test-page-break-inside {page-break-inside: avoid;}
</style>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
    "HTML-CSS": {
      linebreaks: { automatic: true, width: "container" }          
    }
  });
</script>
<script type="text/javascript"
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<style>
.col {
    background: #f0f0f0; 
    width: 230px; 
    padding: 10px; 
    font-size: 1.5em; 
    word-wrap: break-word; 
}  
</style>
<div class="field">
  Метод: <%=  @ws_job.ws_method.name %>
</div>
<div class="field">
  Пользователь: <%=  @ws_job.user.email %>
</div>
<div class="field">
  Входные данные:<br/>
  <%= content_tag('pre', @ws_job.input) %>
</div>
<div class="field">
  Выходные данные:<br/>
  <% if @ws_job.output %>
    <% if @ws_job.ws_method.format_output == 'latex' and @ws_job.output %>
      <%= '$' + @ws_job.output + '$' %>
    <% else %>
      <%= content_tag('pre', @ws_job.output) %>
    <% end %>
  <% else %>
    <p>Результат пока не готов, обновите данную страницу через некоторое время....</p>
  <% end %>
</div>

<div class="field">
  Код ошибки/проверки: <%= @ws_job.error_code %>/<%= @ws_job.for_check %>/<%= @ws_job.do_check %>
</div>

<div class="field">
  Создан: <%= @ws_job.created_at %>
</div>
<div class="field">
  Изменен: <%=  @ws_job.updated_at %>
</div>
<br/>
<div id="qrcode" class="test-page-break-inside"></div>
<script type="text/javascript">
new QRCode(document.getElementById("qrcode"), "http://www.ws-dss.com/ws_jobs/<%= @ws_job.id %>?do_check=1");
</script>
<br/>
<%= link_to 'Редактировать', edit_ws_job_path(@ws_job) %> |
<%= link_to 'Назад', ws_jobs_path %>
