<% rp = Refinery::Page.joins(:translations).find_by_slug("home") %>
<% if rp %>
<h3><%= rp.title %></h3>
<%= raw rp.content_for(:body) %>
<% end %>
<p><%=t('views.welcome.main_available_methods')%>:</p>
<table class="table">
  <tr>
    <th><%=t('views.welcome.method')%></th><th><%=t('views.welcome.descr')%></th>
  </tr>
  <% WsMethod.order(:name).each do |ws| %>
    <% if ws.public? %>
    <tr>
      <td><%= ws.name %></td>
      <td><%= ws.descr %></td>
    </tr>
    <% end %>
  <% end %>
</table>

<p><%=t('views.welcome.main_available_models')%>:</p>
<table class="table">
  <tr>
    <th><%=t('views.welcome.model')%></th><th><%=t('views.welcome.descr')%></th>
  </tr>
  <% WsModel.order(:name).each do |ws| %>
    <% if ws.public? %>
    <tr>
      <td><%= ws.name %></td>
      <td><%= ws.descr %></td>
    </tr>
    <% end %>
  <% end %>
</table>