<script type="text/javascript">
function toggle(el, el2) {
  el.style.display = (el.style.display == 'none') ? '' : 'none';
  if (el2.firstChild.data== 'Скрыть')
    el2.firstChild.data = 'Показать'
  else
    el2.firstChild.data = 'Скрыть';
}
</script>
<p><%= t(:welcome_profile) %></p>

<p>
    <%= t(:your_token) %>:
    <span id="my_token" style="display:none"> <%= current_user.authentication_token %> </span>
    <button onclick="toggle(document.getElementById('my_token'), this);">Показать</button>
</p>

<p>Доступные методы:</p>
<table border="1">
  <tr>
    <th>Метод</th><th>Описание</th><th>Пример вх. данных</th>
  </tr>
  <% @ws_methods.each do |ws| %>
  <tr>
    <td><%= ws.name %></td>
    <td><%= ws.descr %></td>
    <td><%= link_to 'Показать', person_test_output_url(ws.id) %></td>
  </tr>
  <% end %>
</table>

  

