<p><%=t('views.persons.method')%></p>
<%=  @ws_method.name %>
<br/>
<%=  @ws_method.descr %>
<br/>
<p><%=t('views.persons.example_input_data')%>:</p>
<%= content_tag('pre', @ws_method.test_input) %>
<br/>
<%= link_to t('back'), user_root_url %>
