<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('views.documents.name')%>:</strong>
  <%= @document.name %>
</p>

<p>
  <strong><%=t('views.documents.filename')%>:</strong>
  <%= @document.filename %>
</p>

<p>
  <strong><%=t('views.documents.content_type')%>:</strong>
  <%= @document.content_type %>
</p>

<%= link_to t('edit'), edit_document_path(@document) %> |
<%= link_to t('back'), documents_path %>
