<%= form_for(@ws_set_model_run) do |f| %>
  <% if @ws_set_model_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ws_set_model_run.errors.count, t('error')) %><%= t('views.ws_set_model_runs.cant_save_ws_set_model_runs') %>:</h2>

      <ul>
      <% @ws_set_model_run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('views.ws_set_model_runs.name') %><br>
    <%= f.text_field :name, size: 50 %>
  </div>
  
  <div class="field">
    <%= f.label :descr, t('views.ws_set_model_runs.descr') %><br>
    <%= f.text_area :descr, autocomplete: "off", cols: 103, rows: 6 %>
  </div>
  
  <% if can? :set_model_permission, @ws_set_model_run %>
    <div class="field">
      <%= f.label :role_ids, t('views.ws_set_model_runs.accessibility') %>
      <% WsSetModelRun.available_roles.each do |r| %>
        <%= check_box_tag "ws_set_model_run[role_ids][]", r.id, @ws_set_model_run.roles.include?(r) %>
        <%= r.name %>
      <% end %>
    </div>
  <% end %>

  
  <table class="table">
    <thead>
      <tr>
        <th><%= t('views.ws_set_model_runs.model') %></th>
        <th><%= t('views.ws_set_model_runs.model_run') %></th>
        <th><%= t('views.ws_set_model_runs.serial') %></th>
      </tr>
    </thead>
    <tbody>
      <% WsModelRun.accessible_by(current_ability).includes(:ws_model).order('ws_models.name, ws_model_runs.name').each do |mr| %>
        <tr>
          <td><%= mr.ws_model.name %></td>
          <td><%= mr.name %></td>
          <% msm = @ws_set_model_run.ws_model_runs_set_model_runs.find_by_ws_model_run_id(mr.id) %>
          <% msm = @ws_set_model_run.ws_model_runs_set_model_runs.new(ws_model_run_id: mr.id) unless msm %>          
          <%= f.fields_for :ws_model_runs_set_model_runs, msm do |msm_fields| %>
            <td><%= msm_fields.text_field :ord, size: 10 %>
                <%= msm_fields.hidden_field :ws_model_run_id  %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>  
  </table>
  <div class="actions">
    <%= f.submit t('save') %>
  </div>
<% end %>
