<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, t('error')) %> <%= t('views.subjects.cant_save_subject') %>:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.subjects.name') %><br>
    <%= f.text_field :name %>
  </div>

  <% Document.all.each do |d| %>
    <div>
      <%= check_box_tag "subject[document_ids][]", d.id, @subject.documents.include?(d) %>
      <%= d.name %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit t('views.subjects.submit_subject')%>
  </div>
<% end %>
