<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('views.subjects.name')%>:</strong>
  <%= @subject.name %>
</p>

<%= link_to t('edit'), edit_subject_path(@subject) %> |
<%= link_to t('back'), subjects_path %>
