<%= form_for(@ws_model) do |f| %>
  <% if @ws_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ws_model.errors.count, "Ошибка") %>Не возможно сохранение данной модели:</h2>

      <ul>
      <% @ws_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Название"%><br>
    <%= f.text_field :name, size: 100 %>
  </div>
  <div class="field">
    <%= f.label :descr, "Описание"%><br>
    <%= f.text_area :descr, autocomplete: "off", cols: 103, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :model_url, "URL-адрес веб-сервиса модели" %><br>
    <%= f.url_field :model_url, size: 100 %>
  </div>
  <div class="field">
    <%= f.label :ws_method_id, "Внутренний метод" %><br>
    <%= f.collection_select(:ws_method_id, WsMethod.ask_working, :id, :name, include_blank: 'выберите метод...') %>
  </div>
  <br/>
  <% if can? :set_model_permission, @ws_model %>
    <div>
      <%= f.label :role_ids, "Доступность модели" %>
      <% WsModel.available_roles.each do |r| %>
        <%= check_box_tag "ws_model[role_ids][]", r.id, @ws_model.roles.include?(r) %>
        <%= r.name %>
      <% end %>
    </div>
  <% end %>
  <br/>  
  <%= f.fields_for :ws_param_models do |builder| %>
    <%= render "ws_param_model_fields", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Добавить параметр", f, :ws_param_models %></p>
  <br/>
  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
