<p>
  <strong><%=t('views.ws_models.name')%>:</strong>
  <%= @ws_model.name %>
</p>

<p>
  <strong><%=t('views.ws_models.descr')%>:</strong>
  <%= @ws_model.descr %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ws_model.model_url %>
</p>

<p>
  <strong><%=t('views.ws_models.internal_method')%>:</strong>
  <%= @ws_model.try(:ws_method).try(:name) %>
</p>

<p>
  <strong><%=t('views.ws_models.accessibility')%>:</strong>
  <%= @ws_model.role_list.join(', ') %>
</p>

<p><%=t('views.ws_models.model_parameters')%></p>
<table class="table">
  <thead>
    <tr>
      <th><%=t('views.ws_models.name')%></th>
      <th><%=t('views.ws_models.descr')%></th>
      <th><%=t('views.ws_models.integer')%></th>
      <th><%=t('views.ws_models.number_of_meas')%></th>
      <th><%=t('views.ws_models.min_value')%></th>
      <th><%=t('views.ws_models.max_value')%></th>
      <th><%=t('views.ws_models.required')%></th>
      <th><%=t('views.ws_models.replication')%></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_model.ws_param_models.each do |pm| %>
      <tr>
        <% if pm.ws_param %>
          <td><%= pm.ws_param.name %></td>
          <td><%= pm.ws_param.descr %></td>
          <td>
            <%= ( (pm.ws_param.is_int) ? t('yes'): t('no') ) %>   
          </td>
          <td>
            <%= pm.ws_param.dim %>
          </td>
          <td>
            <%= pm.ws_param.min_val %>
          </td>
          <td>
            <%= pm.ws_param.max_val %>
          </td>
        <% else %>
          <td/><td/><td/><td/><td/><td/>
        <% end %>
        <td>
            <%= ((pm.is_required) ? t('yes') : t('no') ) %>        
        </td>
        <td>
            <%= ((pm.is_copy) ? t('yes') : t('no') ) %>        
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :update, @ws_model %>
  <%= link_to t('edit'), edit_ws_model_path(@ws_model) %> |
<% end %>
<%= link_to t('back'), ws_models_path %>
