<h3>Список параметров</h3>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Целочисл.</th>
      <th>Число измер.</th>
      <th>Мин.знач.</th>
      <th>Макс.знач.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_params.each do |ws_param| %>
      <% if can? :read, ws_param %>
      <tr>
        <td><%= ws_param.name %></td>
        <td><%= ws_param.descr %></td>
        <td><%= ((ws_param.is_int) ? "Да":"Нет") %></td>
        <td><%= ws_param.dim %></td>
        <td><%= ws_param.min_val %></td>
        <td><%= ws_param.max_val %></td>
        <td><%= link_to ws_param, class: "btn btn-default", title: "Показать" do %>
              <i class="glyphicon glyphicon-zoom-in"></i>
            <% end %>
        </td>
        <td>
          <% if can? :update, ws_param %>
            <%= link_to edit_ws_param_path(ws_param), class: "btn btn-default", title: "Редактировать" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, ws_param %>
            <%= link_to ws_param, class: "btn btn-default", method: :delete, title: "Удалить", data: { confirm: 'Вы уверены?' } do %>
                <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br/>

<% if can? :create, WsParam %>  
<%= link_to 'Новый параметр', new_ws_param_path %>
<% end %>
