<p>
  <strong><%=t('views.ws_params.name')%>:</strong>
  <%= @ws_param.name %>
</p>

<p>
  <strong><%=t('views.ws_params.descr')%>:</strong>
  <%= @ws_param.descr %>
</p>

<p>
  <strong><%=t('views.ws_params.integer')%>:</strong>
  <%= ((@ws_param.is_int) ? "Да":"Нет") %>
</p>

<p>
  <strong><%=t('views.ws_params.number_of_meas')%>:</strong>
  <%= @ws_param.dim %>
</p>

<p>
  <strong><%=t('views.ws_params.min_value')%>:</strong>
  <%= @ws_param.min_val %>
</p>

<p>
  <strong><%=t('views.ws_params.max_value')%>:</strong>
  <%= @ws_param.max_val %>
</p>
<% if can? :update, @ws_param %>
  <%= link_to t('edit'), edit_ws_param_path(@ws_param) %> |
<% end %>
<%= link_to t('back'), ws_params_path %>
