<p>
  <strong>Название:</strong>
  <%= @ws_param.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @ws_param.descr %>
</p>

<p>
  <strong>Целочисленный:</strong>
  <%= ((@ws_param.is_int) ? "Да":"Нет") %>
</p>

<p>
  <strong>Число измерений:</strong>
  <%= @ws_param.dim %>
</p>

<p>
  <strong>Минимальное значение:</strong>
  <%= @ws_param.min_val %>
</p>

<p>
  <strong>Максимальное значение:</strong>
  <%= @ws_param.max_val %>
</p>
<% if can? :update, @ws_param %>
  <%= link_to 'Редактировать', edit_ws_param_path(@ws_param) %> |
<% end %>
<%= link_to 'Назад', ws_params_path %>
