<h1><%=t('views.ws_param_values.list_of_ws_params_values')%></h1>

<table class="table">
  <thead>
    <tr>
      <th><%=t('views.ws_param_values.model')%></th>      
      <th><%=t('views.ws_param_values.run')%></th>
      <th><%=t('views.ws_param_values.parametr')%></th>
      <th><%=t('views.ws_param_values.source_of_input_value')%></th>
      <th><%=t('views.ws_param_values.input_value')%></th>
      <th><%=t('views.ws_param_values.output_value')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_param_values.includes([{ws_model_run: :ws_model}, :ws_param]).order('ws_models.name, ws_model_runs.name, ws_params.name').each do |ws_param_value| %>
      <tr>
        <td><%= ws_param_value.ws_model_run.ws_model.name %></td>
        <td><%= ws_param_value.ws_model_run.name %></td>
        <td><%= ws_param_value.ws_param.name %></td>
        <td> <% if ws_param_value.ws_set_model_run %>
               <%= ws_param_value.ws_set_model_run.name %>
               (<%= ws_param_value.source_ws_params.map{|x| x.name}.join(', ') %>)
             <% end %>
        </td>
        <td><%= long_string(ws_param_value.old_value) %></td>
        <td><%= long_string(ws_param_value.new_value) %></td>
        <td><%= link_to ws_param_value, class: "btn btn-default", title: t('show') do %>
              <i class="glyphicon glyphicon-zoom-in"></i>
            <% end %>
        </td>
        <td>
          <% if can? :update, ws_param_value %>
            <%= link_to edit_ws_param_value_path(ws_param_value), class: "btn btn-default", title: t('edit') do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, ws_param_value %>
            <%= link_to ws_param_value, class: "btn btn-default", method: :delete, title: t('delete'), data: { confirm: t('are_you_sure') } do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless params[:q] %>
  <%= paginate @ws_param_values %>
<% end %>

<br/>
<% if can? :create, WsParamValue %> 
<%= link_to t('views.ws_param_values.new_source_of_ws_params_values'), new_ws_param_value_path %>
<% end %>
