<h1>Список источников значений параметров</h1>

<table class="table">
  <thead>
    <tr>
      <th>Модель</th>      
      <th>Прогон</th>
      <th>Параметр</th>
      <th>Источник вх.значения</th>
      <th>Вх.значение</th>
      <th>Вых.значение</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_param_values.each do |ws_param_value| %>
      <tr>
        <td><%= ws_param_value.ws_model_run.ws_model.name %></td>
        <td><%= ws_param_value.ws_model_run.name %></td>
        <td><%= ws_param_value.ws_param.name %></td>
        <td> <% if ws_param_value.ws_set_model_run %>
               <%= ws_param_value.ws_set_model_run.name %>
               (<%= ws_param_value.source_ws_params.map{|x| x.name}.join(', ') %>)
             <% end %>
        </td>
        <td><%= ws_param_value.old_value.try{ |p| (p.size > 256)?(p[0..255]+'...'):p } %></td>
        <td><%= ws_param_value.new_value.try{ |p| (p.size > 256)?(p[0..255]+'...'):p } %></td>
        <td><%= link_to ws_param_value, class: "btn btn-default", title: "Показать" do %>
              <i class="glyphicon glyphicon-zoom-in"></i>
            <% end %>
        </td>
        <td><%= link_to edit_ws_param_value_path(ws_param_value), class: "btn btn-default", title: "Редактировать" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
        </td>
        <td><%= link_to ws_param_value, class: "btn btn-default", method: :delete, title: "Удалить", data: { confirm: 'Вы уверены?' } do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый источник значений параметров', new_ws_param_value_path %>
