<p>
  <strong>Модель:</strong>
  <%= @ws_param_value.ws_model_run.ws_model.name %>
</p>
<p>
  <strong>Прогон:</strong>
  <%= @ws_param_value.ws_model_run.name %>
</p>
<p>
  <strong>Параметр:</strong>
  <%= @ws_param_value.ws_param.name %>
</p>
<p>
  <strong>Источник:</strong>
  <% if @ws_param_value.ws_set_model_run %>
    <%= @ws_param_value.ws_set_model_run.name %>
    <br/>
    <%= @ws_param_value.source_ws_params.order('ws_param_values_params.ord').map{|x| "<li>#{x.name}</li>"}.join.html_safe %>
    <br/>
  <% end %>
<p>
  <strong>Входное значение:</strong>
  <pre><%= @ws_param_value.old_value %></pre>
</p>
<p>
  <strong>Выходное значение:</strong>
  <pre><%= @ws_param_value.new_value %></pre>
</p>
<%= link_to 'Редактировать', edit_ws_param_value_path(@ws_param_value) %> |
<%= link_to 'Назад', ws_param_values_path %>
