<p>
  <strong><%=t('views.ws_param_values.model')%>:</strong>
  <%= @ws_param_value.ws_model_run.ws_model.try{|s| link_to(s.name, s)} %>
</p>
<p>
  <strong><%=t('views.ws_param_values.run')%>:</strong>
  <%= @ws_param_value.ws_model_run.try{|s| link_to(s.name, s)} %>
</p>
<p>
  <strong><%=t('views.ws_param_values.parametr')%>:</strong>
  <%= @ws_param_value.ws_param.try{|s| link_to(s.name, s)} %>
</p>
<p>
  <strong><%=t('views.ws_param_values.formula')%>:</strong>
  <%= @ws_param_value.formula %>
</p>
<p>
  <strong><%=t('views.ws_param_values.source')%>:</strong>
  <% if @ws_param_value.ws_set_model_run %>
    <%=  link_to @ws_param_value.ws_set_model_run.name, @ws_param_value.ws_set_model_run %>
    <br/>
    <%= @ws_param_value.source_ws_params.order('ws_param_values_params.ord').map{|x| "<li>#{link_to(x.name,x)}</li>"}.join.html_safe %>
    <br/>
  <% end %>
<p>
  <strong><%=t('views.ws_param_values.input_value')%>:</strong>
  <pre><%= long_string(@ws_param_value.old_value) %></pre>
</p>
<p>
  <strong><%=t('views.ws_param_values.output_value')%>:</strong>
  <pre><%= long_string(@ws_param_value.new_value) %></pre>
</p>
<% if can? :update, @ws_param_value %>
  <%= link_to t('edit'), edit_ws_param_value_path(@ws_param_value) %> | 
<% end %>
<%= link_to t('back'), ws_param_values_path %>
