<h3>Административные действия</h3>
 
<p><%= link_to "Редактор пользователей", admin_users_path %></p>
<p><%= link_to "Редактор методов", ws_methods_path %></p>
<p><%= link_to "Редактор документов", documents_path %></p>
<p><%= link_to "Редактор статусов моделей", ws_model_statuses_path %></p>

<p><%= link_to "Редактор студентов", students_path %></p>
<p><%= link_to "Редактор групп", student_groups_path %></p>
<p><%= link_to "Редактор предметов", subjects_path %></p>