<h3><%=t('views.admin.administrative_actions')%></h3>
<% if can?(:mange, :all) %> 
  <p><%= link_to t('views.admin.user_editor'), admin_users_path %></p>
  <p><%= link_to t('views.admin.method_editor'), ws_methods_path %></p>
  <p><%= link_to t('views.admin.model_status_editor'), ws_model_statuses_path %></p>
  <br/>
  <p><%= link_to t('views.admin.document_editor'), documents_path %></p>
  <br/>
  <p><%= link_to t('views.admin.group_editor'), student_groups_path %></p>
  <p><%= link_to t('views.admin.subject_editor'), subjects_path %></p>
  <br/>
  <p><%= link_to t('views.admin.localization_editor'), locale_translations_url(I18n.locale) %></p>
<% end %>

<p><%= link_to "Refinery CMS", refinery.admin_root_path %></p>