<%= form_for(@ws_method) do |f| %>
  <% if @ws_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ws_method.errors.count, "error") %> prohibited this ws_method from being saved:</h2>

      <ul>
      <% @ws_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Название" %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :descr, "Описание" %><br/>
    <%= f.text_area :descr, autocomplete: "off", cols: 100, rows: 4 %>
  </div>

  <div class="field">
    <%= f.label :code, "Код метода" %><br/>
    <%= f.text_area :code, autocomplete: "off", cols: 100, rows: 7 %>
  </div>

  <div class="field">
    <%= f.label :format_output, "Формат вывода" %><br/>
    <%= f.text_field :format_output, default: 'text', cols: 100, rows: 7 %>
  </div>

  <div class="field">
    <%= f.label :test_input, "Пример вх. данных" %><br/>
    <%= f.text_area :test_input, autocomplete: "off", cols: 100, rows: 7 %>
  </div>

  <div class="field">
    <%= f.label :test_output, "Пример вых. данных" %><br/>
    <%= f.text_area :test_output, autocomplete: "off", cols: 100, rows: 7 %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
