<h3>Список методов</h3>

<table class="table">
  <thead>
    <tr>
      <th>Метод</th><th>Описание</th><th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_methods.each do |ws_method| %>
      <tr>
        <td><%= ws_method.name %></td>
        <td><%= ws_method.descr %></td>
        <td><%= link_to 'Показать', ws_method %></td>
        <td><%= link_to 'Редактировать', edit_ws_method_path(ws_method) %></td>
        <td><% if ws_method.test_input && ws_method.test_output && ws_method.code %>
              <%= link_to 'Проверить', test_ws_method_path(ws_method) %>
            <% end %>
        </td>
        <td><%= link_to 'Удалить', ws_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать метод', new_ws_method_path %>
