<h3><%=t('views.ws_methods.list_of_methods')%></h3>

<table class="table">
  <thead>
    <tr>
      <th><%=t('views.ws_methods.method')%></th>
      <th><%=t('views.ws_methods.descr')%></th>
      <th><%=t('views.ws_methods.num_jobs')%></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ws_methods.each do |ws_method| %>
      <tr>
        <td><%= ws_method.name %></td>
        <td><%= ws_method.descr %></td>
        <td><%= link_to ws_method.ws_jobs.count, ws_jobs_url(q: {ws_method_id_eq: ws_method.id, s: "updated_at desc"})  %></td>
        <td><%= link_to t('show'), ws_method %></td>
        <td><%= link_to t('edit'), edit_ws_method_path(ws_method) %></td>
        <td><% if ws_method.test_output %>
              <%= link_to t('views.ws_methods.check'), test_ws_method_path(ws_method) %>
            <% end %>
        </td>
        <td><%= link_to t('delete'), ws_method, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.ws_methods.create_method'), new_ws_method_path %>
