<div class="field">
  <%=t('views.ws_methods.name')%>:<br/>
  <%= content_tag('pre', @ws_method.name) %>
</div>
<div class="field">
  <%=t('views.ws_methods.descr')%>:<br/>
  <%= content_tag('pre', @ws_method.descr) %>
</div>
<% if can? :update, @ws_method %>
<div class="field">
  <%=t('views.ws_methods.code_of_method')%>:<br/>
  <%= content_tag('pre', @ws_method.code) %>
</div>
<% end %>
<div class="field">
  <%=t('views.ws_methods.output_format')%>:<br/>
  <%= content_tag('pre', @ws_method.format_output) %>
</div>
<div class="field">
  <%=t('views.ws_methods.example_input_data')%>:<br/>
  <%= content_tag('pre', @ws_method.test_input) %>
</div>
<div class="field">
  <%=t('views.ws_methods.example_output_data')%>:<br/>
  <%= content_tag('pre', @ws_method.test_output) %>
</div>
<p>
  <strong><%=t('views.ws_methods.accessibility')%>:</strong>
  <%= @ws_method.role_list.join(', ') %>
</p>
<div class="field">
  <%=t('views.ws_methods.created')%>:<br/>
  <%= content_tag('pre', @ws_method.created_at) %>
</div>
<div class="field">
  <%=t('views.ws_methods.changed')%>:<br/>
  <%= content_tag('pre', @ws_method.updated_at) %>
</div>
<%= link_to t('edit'), edit_ws_method_path(@ws_method) %> |
<%= link_to t('back'), ws_methods_path %>
