<!DOCTYPE html>
<html>
<head>
  <title>Web Services for Decision Support Systems</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>
<body>
<p>
<%= link_to_unless I18n.locale == :ru, "Русский", locale: :ru %>
|
<%= link_to_unless I18n.locale == :en, "English", locale: :en %>
</p>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p>

<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

</p>

<%= yield %>


<p>
  <%= t(:copyright) %>
</p>
</body>
</html>
