<!DOCTYPE html>
<html>
<head>
  <title>Web Services for Decision Support Systems</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
<%= link_to_unless I18n.locale == :ru, "Русский", locale: :ru %>
|
<%= link_to_unless I18n.locale == :en, "English", locale: :en %>
</p>

<%= yield %>


<p>
  <%= t(:copyright) %>
</p>
</body>
</html>
