<p><%= t(:hello) + ' ' + @resource.email %>!</p>

<p><%= t(:change_password_1)%></p>

<p><%= link_to t(:change_password), edit_password_url(@resource, {reset_password_token: @token, locale: I18n.locale}) %></p>

<p><%= t(:change_password_2) %></p>
<p><%= t(:change_password_3) %></p>
